<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/signin-signup.css">


</head>

<body>
	<div class="wrapper">
		<form class="form" id="signin" method="POST" action='/users/login'>
			<h1 class="form-title">SIGN IN</h1>
			<div class="form-message form-message-error"></div>
			<div class="form-input-group">
				<input type="text" class="form-input" autofocus placeholder="Username">
				<div class="form-input-err-msg"></div>
			</div>
			<div class="form-input-group">
				<input type="password" class="form-input form-input-error" autofocus placeholder="Password">
				<div class="form-input-err-msg"></div>
			</div>
			<button class="form-button" type="submit">Sign in</button>

			<p class="form-text">
				<a class="form-link" href="./" id="createAccountLink">No account? Sign up</a>
			</p>

			<div class="logos">
				<div id="follow">follow us on</div>
				<img src="assets/images/fblogo.jpg" id="facebook" alt="facebook logo">
				<img src="assets/images/instagram.jpeg" id="instagram" alt="google logo">
				<img src="assets/images/whatsapp.jpeg" id="whatsapp" alt="whatsapp logo">
			</div>


		</form>

		<form class="form form-hidden" id="createAccount" method="POST" action='/users/register'>
			<h1 class="form-title">SIGN UP</h1>
			<div class="form-message form-message-error"></div>

			<p style="color: red"><%= fieldError %></p>

			<div class="form-input-group">
				<input type="text" class="form-input" autofocus name="username" placeholder="Username" value="<%= typeof username !== 'undefined' ? username : '' %>">
				<div class="form-input-err-msg"></div>
			</div>
			<div class="form-input-group">
				<input type="email" class="form-input" name="email" autofocus placeholder="Email" value="<%= typeof email !== 'undefined' ? email : '' %>">
				<div class="form-input-err-msg"></div>

				<p style="color: red"><%= emailError %></p>
			</div>
			<div class="form-input-group">
				<input type="password" id="signUpPassword" name="password" class="form-input" autofocus placeholder="Password" value="<%= typeof password !== 'undefined' ? password : '' %>">
				<div class="form-input-err-msg"></div>
			</div>
			<div class="form-input-group">
				<input type="password" name="password2" class="form-input" autofocus placeholder="Confirm Password" value="<%= typeof password2 !== 'undefined' ? password2 : '' %>">
				<div class="form-input-err-msg"></div>
				<p style="color: red"><%= passwordError %></p>
			</div>

			<input type="submit" class="form-button" value="Sign up">

			<p class="form-text">
				<a class="form-link" href="./" id="signInLink">Have an account? Sign in</a>
			</p>

		</form>
	</div>

	<script src="js/signin-signup.js"></script>

</body>

</html>
